:host {
  width: 80%;
}

.mat-card {
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
}

.mat-card-content {
  overflow-wrap: break-word;
}

.mat-grid-tile-footer {
  justify-content: center;
}

.load-more-area {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.load-more-area > button {
  min-width: 50%;
}

.load-more-bar {
  margin-top: 16px;
  margin-bottom: 16px;
}
