<mat-sidenav-container>
  <mat-sidenav class="center" #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <mat-nav-list align="center">
      <mat-list-item routerLink='/add' (click)="sidenav.close()">
        <p>Add New Server</p>
      </mat-list-item>
      <div *ngIf="sockets.sockets | async as servers">
        <hr>
        <mat-list-item routerLink='/server' (click)="sidenav.close()">
          <p>All</p>
        </mat-list-item>
        <hr>
        <mat-list-item color="primary" *ngFor="let server of servers"
                       [routerLink]="['/server/' + encodeURL(server.url)]" (click)="sidenav.close()">
          <p>{{ server.url }}</p>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav class="center" #sidenav mode="side" [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0"
               #mgmt position="end">
    <mat-nav-list align="center">
      <mat-list-item>
        <button mat-raised-button color="warn" (click)="DeleteCurrentUrl()">
          Remove server
        </button>
      </mat-list-item>
      <div *ngIf="filterService.applicationFiltered">
        <hr>
        <mat-list-item color="primary" *ngFor="let app of filterService.applicationFiltered | keyvalue">
          <mat-checkbox color="primary" [(ngModel)]="app.value" (click)="filterService.toggle(app.key)">
            <p>{{ app.key.name }}</p></mat-checkbox>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-scrollbar class="global-scrollbar" #scrollable>
      <div class="grid-container">
        <mat-toolbar class="header" color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div></div>
          <h1 *ngIf="currentURL === ''; else currentURLSet">Gotify</h1>
          <ng-template #currentURLSet>
            <h1>{{ currentURL }}</h1>
            <button *ngIf="currentURL !== 'Gotify - All'" style="position:absolute;right:15px" mat-stroked-button
                    (click)="mgmt.toggle()">
              <fa-icon [icon]="faCog"></fa-icon>
            </button>
          </ng-template>
        </mat-toolbar>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-scrollbar>

  </mat-sidenav-content>

</mat-sidenav-container>
